/* Adminimal Theme overrides file. All selectors must start with ".adminimal" */

@import '_utils/variables';
@import '_utils/functions';

.adminimal.toolbar-tray-open.toolbar-fixed.toolbar-horizontal {
    padding-top: 4rem !important;
}

.adminimal select {
    min-height: 28px;
    text-shadow: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .adminimal select {
        border-radius: 0;
        background: url(../images/caret-down.svg) no-repeat 98% 64% #fcfcfa;
    }

    .adminimal select:focus,
    .adminimal select:hover {
        background: url(../images/caret-down.svg) no-repeat 98% 64% #fcfcfa;
    }
    .adminimal select:focus {
        border-color: #68A3CF;
        outline: 2px solid #C1E0FF;
        outline-offset: 0px;
        color: #000;
    }
}

.adminimal .link.tabledrag-toggle-weight {
    margin-bottom: 0.3em;
}

/* Style checkbox and radio buttons in Chrome + Safari + Opera */
@supports (-webkit-appearance:none) {
    input[type=checkbox],
    input[type=radio],
    input[type=checkbox]#edit-delete {
        -webkit-appearance:none;
        display: inline-block;
        position: relative;
        top: 3px;
        margin-right: 0.25em;
        padding: 0;
        background: #fff;
        border: 1px solid #B5B5B5;
        width: 16px !important;
        height: 16px !important;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: background 0.5s ease;
        outline: none;
    }

    .adminimal-theme .location .form-item input.form-checkbox {
        width: 16px;
        display: inline-block;
    }

    input[type=checkbox]#edit-delete {
        margin-bottom: 0;
    }

    input[type=radio] {
        border-radius: 50%;
    }

    input[type=checkbox]:hover,
    input[type=checkbox]:focus,
    input[type=radio]:hover,
    input[type=radio]:focus {
        border-color: #0074BD;
        cursor: pointer;
    }

    input[type=checkbox]#edit-delete:hover,
    input[type=checkbox]#edit-delete:focus {
        border-color: #D01616;
        cursor: pointer;
    }

    input[type=checkbox]:checked,
    input[type=checkbox]:disabled:checked,
    input[type=radio]:checked,
    input[type=radio]:disabled:checked{
        background: #0074BD;
        box-shadow: inset 0px 0px 0px 3px #fff;
    }

    input[type=checkbox]#edit-delete:checked,
    input[type=checkbox]#edit-delete:disabled:checked {
        background: #D01616;
        box-shadow: inset 0px 0px 0px 3px #fff;
    }

    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        opacity: .5;
        background: #E2E2E2;
    }

    input[type=checkbox]#edit-delete:disabled {
        opacity: .5;
        background: #E88181;
    }

    input[type=checkbox]:disabled:hover {
        border-color: #B5B5B5;
        cursor: default;
    }

    input[type=checkbox]:disabled:hover,
    input[type=radio]:disabled:hover {
        border-color: #B5B5B5;
        cursor: default;
        /*cursor: not-allowed;*/
    }

}

.adminimal .dropbutton-single .dropbutton-action a {
    border-radius: 0 !important;
    background-image: none;
    background: #F5F5F2;
}

.adminimal .ui-dialog .ui-dialog-titlebar {
    border-radius: 0;
    background: #333;
}

.adminimal .ui-dialog .ui-widget-content.ui-dialog-buttonpane {
    border-radius: 0;
}

.adminimal .ui-dialog .ui-dialog-titlebar,
.adminimal .ui-dialog {
    outline: none;
}

.adminimal .ui-dialog {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.adminimal .ui-button-icon-only.ui-dialog-titlebar-close.ui-state-active,
.adminimal .ui-button-icon-only.ui-dialog-titlebar-close.ui-widget-content .ui-state-active {
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.adminimal .ui-dialog .ui-dialog-titlebar-close {
    opacity: 0.5;
    transition: all, 0.2s;
}

.adminimal .ui-dialog .ui-dialog-titlebar-close:hover {
    opacity: 1;
}

.adminimal .messages {
    margin: 1rem 0 1rem 0;
    border-width: 1px 0px 1px 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    background-size: 1.3rem;
    background-position: 5px 50%;
}

.adminimal .messages--error {
    border-color: #E32700;
}

.adminimal .messages--warning {
    border-color: #E29700;
}

.adminimal .messages--status {
    border-color: #73B355;
}

.adminimal .cke_top,
.adminimal .cke_bottom {
    background: #F7F7F7;
    background-image: none;
    box-shadow: none;
}

.adminimal .filter-wrapper {
    background: #F7F7F7;
}

.adminimal .cke_ltr .cke_button:first-child,
.adminimal .cke_rtl .cke_button:last-child,
.adminimal .cke_toolgroup {
    border-radius: 0;
}

/* Main menu icons end. */
.adminimal.path-batch .layout-container {
    padding-top: 1.3rem;
}
