@import '_utils/variables',
    '_utils/functions';

@import 'base/base';

@import 'components/admin-list',
    'components/breadcrumb',
    'components/buttons',
    'components/button-group',
    'components/container-inline',
    'components/content-header',
    'components/dropdown',
    'components/dropdown.icons',
    'components/entity-meta',
    'components/forms',
    'components/tabledrag',
    'components/tables',
    'components/tabs',
    'components/tags',
    'components/horizontal-tabs',
    'components/vertical-tabs';

@import 'layout/layout';

.tabledrag-toggle-weight-wrapper {
    display: none;
}

#edit-cancel {
    margin-left: 5px;
}
