.layout-page {
    position: relative;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    min-height: 95vh;
    background-color: #fff;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.15);
    border-radius: 5px;

    .toolbar-tray-open & {
        margin-left: 0;
    }
}

.layout-container {
    margin: 0 !important;
    padding: 0 30px;
}

.page-content {
    margin-bottom: 0;
}
