.admin-list {
    $admin-list-bg-color: #fafafa;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 15px 0;
        padding: 10px 15px;
        background-color: $admin-list-bg-color;
        transition: background-color .2s;

        &:hover {
            background-color: darken($admin-list-bg-color, 2%);
        }
    }

    a {
        text-decoration: none;
    }

    .label {
        color: #333;
        font-weight: 800;
    }
}
