$dropdown-icons: (
    'edit': '\f2bf',
    'preparation': '\f27a',
    'delete': '\f129',
    'devel': '\f271',
    'manage-fields': '\f27c',
    'manage-form-display': '\f13d',
    'manage-display': '\f4d6',
);

.dropdown-menu {
    li {
        a {
            position: relative;

            &::before {
                display: inline-block;
                font-family: "Ionicons";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                text-rendering: auto;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                margin-right: 10px;
                background-image: none !important;
                width: 15px;
            }
        }
    }

    @each $name, $icon in $dropdown-icons {
        .#{$name} > a::before {
            content: $icon;
        }
    }
}
