.entity-meta {
    border: 0;
    background-color: $vertical-tabs-bg;

    details {
        border: 0;
        background: $vertical-tabs-bg;
    }
}

.entity-meta__header {
    border: 0;
    background-color: $vertical-tabs-bg;
}
