%label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
}

.cke {
    border: 1px solid $input-border-color !important;
}

.form-composite > legend,
.label {
    @extend %label;
    color: $input-label-color;
}

.field-suffix {
    color: $input-description-color;
    margin-left: 3px;
    margin-top: 5px;

    .machine-name-value {
        font-style: italic;
    }
}

.description {
    margin-left: 3px;
    margin-top: 5px;
}

/**
 * Form types.
 */

.field-group-tab fieldset,
.field-group-fieldset {
    border: 0;
    padding: 0;

    > legend {
        display: block;
        width: 100%;
        padding-bottom: 10px;
        font-weight: 400;
        color: $input-label-color;
        border-bottom: 1px solid $input-border-color;
        font-size: 24px;
    }

    .fieldset-wrapper {
        margin-top: 15px;
    }
}

.form-type-number,
.form-type-select,
.form-type-textfield,
.form-type-textarea,
.form-type-managed-file {
    > label {
        @extend %label;
        color: $input-label-color;
    }
}

.form-autocomplete,
.form-text,
.form-tel,
.form-email,
.form-url,
.form-search,
.form-number,
.form-color,
.form-file,
.form-date,
.form-time,
.form-textarea,
.form-search {
    -webkit-appearance: none;
    padding: 10px 15px;
    width: 100%;
    max-width: 100%;
    border: 1px solid $input-border-color;
    font-size: 1em;
    background: #fff;
    color: rgba($input-text-color, .8);
    transition: all .2s ease-in-out;
    box-sizing: border-box !important;

    &:focus {
        outline: 0;
    }

    &:focus,
    &:hover {
        color: $input-text-color;
        border-color: darken($input-border-color, 15%);
        background-color: #fff;
        box-shadow: $default-box-shadow;
    }

    td & {
        width: 100%;
    }
}

.form-textarea-wrapper {
}

.form-item {
    .description {
        color: $input-description-color;
    }
}

.form-file {
    border: 0;
    padding: 10px 0;

    &:focus,
    &:hover {
        box-shadow: none;
    }
}

.form-disabled {
    opacity: .65;
}
