table {
    font-size: 15px;
}

thead {
    tr {
        border-bottom: 1px solid $table-border-color;
    }
    th {
        border: none;
        background-color: $table-header-bg-color;
        color: $table-header-text-color;
        text-transform: none;
        font-weight: 600;

        &.is-active {
            background: #fff;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #F5F5F5;
            border-left: 1px solid #F5F5F5;
            border-right: 1px solid #F5F5F5;
        }
    }
}

tbody tr {
    transition: background-color .25s;

    &:hover,
    &:focus {
        background-color: $table-hover-bg-color;
    }

    &:last-of-type {
        border-bottom: 0;
    }
}

th.is-active > a,
th.is-active > a:hover {
    color: #333;
}

th > a:hover {
    text-decoration: underline;
}

th > a:after,
th.is-active > a:after {
    display: none;
}

tr {
    border-bottom: 1px solid $table-border-color;
}



