{#
/**
 * @file
 * Theme override for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - title: The link text.
 *   - href: The link URL. If omitted, the 'title' is shown as a plain text
 *     item in the links list. If 'href' is supplied, the entire link is passed
 *     to l() as its $options parameter.
 *   - attributes: (optional) HTML attributes for the anchor, or for the <span>
 *     tag if no 'href' is supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 */
#}
{% if links -%}
    <div class="btn-group">
        {%- if links|first.link -%}
            {{ link(links|first.link['#title'], links|first.link['#url'], {'class': ['button', 'button--primary']}) }}
        {%- else -%}
            {{ links|first.text }}
        {%- endif -%}

        <button type="button" class="button button--primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>

        <ul{{ attributes.addClass('dropdown-menu').removeClass('dropbutton') }}>
            {%- for item in links -%}
                <li{{ item.attributes }}>
                    {%- if item.link -%}
                        {{ item.link }}
                    {%- else -%}
                        {{ item.text }}
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    </div>
{%- endif %}
